.cronometro {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: cronometro;

	.relogioWrapper {
		align-items: center;
		background-color: #7687A1;
		border-radius: 10px;
		box-shadow: 2px 4px 4px #0000009F;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		margin-bottom: 24px;
		padding: 16px 12px;
		width: 100%;
	}

	.cronTitulo {
		font-size: 2rem;
	}
}

.relNumDiv {
	background-color: #5D677C;
	box-shadow: 2px 2px 4px #2B2B2B inset;
	padding: 0px 10px;
	border-radius: 10px;
	height: 7rem;
}

.relogioNumero {
	font-size: 5rem;
}

.relogioDivisao {
	font-size: 5rem;
	padding: 0px 4px;
	align-content: center;
	align-self: flex-start;
}
