.banner {
  width: 100%;
  margin-bottom: -7px;
}

.spans {
  font-family: var(--fonte-titulo);
  font-size: 3.5rem;
  position: relative;
  line-height: 1.1;
  /* font-weight: bold; */
  
  width: 100%;
}

.spn1 {
  position: absolute;
  top: 100px;
  left: 260px;
  width: 400px;
  color: var(--cinza-claro);
}

.spn2 {
  position: absolute;
  top: 220px;
  left: 260px;
  color: var(--azul);
  font: var(--fonte-titulo);
  width: 500px;
}